    GLOBAL_SETTINGS
    LAB_MASTER_SEED mitm2_student_master_seed
NETWORK LNNETWORK
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.101
CONTAINER client
     USER jane
     X11 YES
     ADD-HOST server:172.10.0.5
     LNNETWORK 172.10.0.4
CONTAINER server
     USER ubuntu
     X11 YES
     LNNETWORK 172.10.0.5
CONTAINER attacker
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 1
     LNNETWORK 172.10.0.6
