    GLOBAL_SETTINGS
    LAB_MASTER_SEED mintm2_student_master_seed
NETWORK VM_NETWORK
     MASK 192.30.0.0/24
     GATEWAY 192.30.0.101
CONTAINER client
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 2
     ADD-HOST www.pumpserver.com:192.30.0.3
     VM_NETWORK 192.30.0.2
CONTAINER server
     USER ubuntu
     X11 YES
     VM_NETWORK 192.30.0.3
CONTAINER attacker
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 1
     VM_NETWORK 192.30.0.4
