    GLOBAL_SETTINGS
    LAB_MASTER_SEED infusion_student_master_seed
NETWORK LANNETWORK
     MASK 172.26.0.0/24
     GATEWAY 172.26.0.100
NETWORK SERVERNETWORK
     MASK 172.28.0.0/24
     GATEWAY 172.28.0.100
CONTAINER nurse
     USER ubuntu
     X11 YES
     TERMINAL_GROUP 1
     ADD-HOST pumpserver:172.28.0.2
     LANNETWORK 172.26.0.2
CONTAINER doctor
     USER ubuntu
     X11 YES
     TERMINAL_GROUP 1
     ADD-HOST pumpserver:172.28.0.2
     LANNETWORK 172.26.0.3
CONTAINER admin
     USER ubuntu
     X11 YES
     TERMINAL_GROUP 1
     ADD-HOST pumpserver:172.28.0.2
     LANNETWORK 172.26.0.5
CONTAINER firewall
     USER ubuntu
     X11 YES
     TERMINALS 2
     TERMINAL_GROUP 2
     LANNETWORK 172.26.0.4
     SERVERNETWORK 172.28.0.4
CONTAINER pumpserver
     USER ubuntu
     X11 YES
     TERMINALS 0
     SERVERNETWORK 172.28.0.2
